@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
}
:root {
    --swiper-theme-color: #7F0019;
}

h1 {
    font-size: 24px;
    font-weight: 800;
    color: #000;
}
p {
    font-size: 13px;
    font-weight: 400;
    line-height: 15.73px;
    color: #000;
}
span {
    color: #000;
    font-weight: 800;
}
a {
    color: #000;
}


/* 해더 */
header .inner {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.inner > div {
    max-width: 1180px;
    width: 100%;
    height: 40px;
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
}
.inner .icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.inner > div > i {
    display: none;
    width: 40px;
}
.icons a {
    width: 40px;
}
.icons button {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 0;
    cursor: pointer;
}
.icons > div {
    display: flex;
    flex-direction: row;
}
#searchform {
    height: 40px;
    border: 0;
    padding: 0px 5px;
    border-bottom: 1px solid #7a7a7a;
    display: none;
}
#searchform:focus {
    outline: 0;
}
#searchform:focus::placeholder {
    color: transparent;
}
.icons button, .icon2, .icon3, .icon4, .icon5 {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 75%;
}
#searchform.is-active {
    display: block;
}
.icons button {
    background-image: url(/muji/img/무인양품/icons/search.png);
}
.icons .icon2 {
    background-image: url(/muji/img/무인양품/icons/login.png);
}
.icons .icon3 {
    background-image: url(/muji/img/무인양품/icons/home.png);
}
.icons .icon4 {
    background-image: url(/muji/img/무인양품/icons/cart.png);
}
.icons .icon5 {
    background-image: url(/muji/img/무인양품/icons/info.png);
}

/*nav*/
nav {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.snb {
    display: flex;
    flex-direction: column;
    color: #7A7A7A;
}
.snb > li:hover {
    color: #7F0019;
}
.categoly {
    width: 277px;
    position: absolute;
    z-index: 100;
}
.categoly-label {
    height: 38px;
    font-size: 15px;
}
.categoly div, .categoly ul {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: middle;
    position: relative;
}
.categoly label,
.categoly a {
    display: block;
    padding: 10px;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
/** 2階層目の項目 */
.categoly div > label {
    padding-left: 25px;
    background: #ffff;
    border-bottom: 2px solid #ffff;
}
/** 3階層目の項目 */
.snb a {
    padding-left: 40px;
    background: #ffff;
}

/** チェックボックス */
.categoly [type=checkbox] {
    vertical-align: middle;
    position: absolute;
    left: 0;
    z-index: 1;
    display: none;
}

/** 非チェック時の項目 (スライドアップ・ダウン用) */
.categoly [type=checkbox]:not(:checked) ~ div > label,
.categoly [type=checkbox]:not(:checked) ~ ul > li > a {
    opacity: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    color: transparent;
    line-height: 0;
    transition: 0.2s margin, 0.2s padding, 0.2s border-width, 0.2s line-height, 0.2s opacity;
}

.categoly div > label:hover {
    border-bottom: 2px solid #7F0019;
}


/** チェック時の項目 (スライドアップ・ダウン用) */
.categoly [type=checkbox]:checked ~ div label,
.categoly [type=checkbox]:checked ~ ul > li > a {
    opacity: 1;
    color: inherit;
    transition: 0.2s margin, 0.2s padding, 0.2s border-width, 0.2s line-height, 0.2s opacity;
}


/* bestitem */
main {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px 80px 50px;
}

.title {
    max-width: 1140px;
    width: 100%;
    margin-top: 87px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 2px solid #F2F2F2;
}
.clothesbest > div {
    display: flex;
    flex-direction: row;
}
.clothesbest > div:nth-child(1) {
    margin-bottom: 30px;
}

.clothesbest img {
    height: 195px;
    background-color: #b8b1b1;
    object-fit: cover;
}
.clothesbest > div > a {
    display: inherit;
    flex-direction: column;
}
.clothesbest > div > a > span {
    height: 40px;
    display: inherit;
    justify-content: center;
    align-items: center;
}
.clothesbest > div > a .best01, .best02, .best03 {
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 50% 0px;
    color: #fff;
}
.clothesbest > div > a .best01 {
    background-image: url(/muji/img/무인양품/icons/crown_1.png);
}
.clothesbest > div > a .best02 {
    background-image: url(/muji/img/무인양품/icons/crown_2.png);
}
.clothesbest > div > a .best03 {
    background-image: url(/muji/img/무인양품/icons/crown_3.png);
}
.clothesbest > div > a div {
    display: inherit;
    justify-content: end;
    margin-top: 10px;
}
.clothesbest > div a > p {
    margin-top: 22px;
    height: 48px;
}
.clothesbest .swiper-pagination {
    display: inherit;
    justify-content: center;
    bottom: 0;
}

/* 4장뷰 */
main > h1 {
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}
.title > div {
    display: flex;
    align-items: center;
    color: #7a7a7a;
    cursor: pointer
}
.title > p::after {
    content: ">";
    padding-top: 2px;
    padding-left: 10px;
    float: right;
}

.clothes, .more {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
    width: 100%;
}
.clothes > a {
    flex: 1 1 20%;
}
.more-btn.is-active {
    display: none;
}

.more > a {
    display: none;
    flex: 1 1 20%;
}
.more.is-active a {
    display: block;
}
.item > img {
    width: 100%;
    vertical-align: bottom;
    margin-bottom: 10px;
}

.item > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pname {
    height: 48px;
    font-size: 13px;
}
.price {
    display: flex;
    justify-content: end;
}

/* 더보기 */
main > div:nth-last-child(1) {
    display: flex;
    justify-content: center;
}
.more-btn {
    width: 100px;
    margin-top: 50px;
    padding: 8px 0;
    display: inherit;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 30px;
    cursor: pointer;
}
.more-btn:hover {
    color: #fff;
    background-color: #7A7A7A;
}

/* 후터 */
footer {
    display: flex;
    justify-content: center;
    height: 166px;
    background-color: #f0f2f5;
}
footer .inner {
    display: inherit;
    max-width: 1140px;
    flex-direction: column;
    padding: 30px 0 0 0;
    gap: 20px;
}
.inner > .txt {
    display: inherit;
    flex-direction: row;
    gap: 30px;
}
.inner > .icon {
    display: inherit;
    justify-content: center;
    gap: 10px;
}
.inner > .icon > a {
    width: 40px;
}
.inner > .icon > .f-icon1, .f-icon2, .f-icon3 {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 75%;
    background-color: #fff;
}
.inner > .icon .f-icon1 {
    background-image: url(/muji/img/무인양품/icons/instagram.png);
}
.inner > .icon .f-icon2 {
    background-image: url(/muji/img/무인양품/icons/blog.png);
}
.inner > .icon .f-icon3 {
    background-image: url(/muji/img/무인양품/icons/app.png);
}

@media screen and (max-width: 960px) {
    :root {
        --swiper-navigation-size: 40px;
    }
    .inner > div {
        padding: 0px 10px;
    }
    article {
        margin: 0px 15px;
    }
    .inner > div > i {
        display: block;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 75%;
        background-image: url(/muji/img/무인양품/icons/menu.svg);
        cursor: pointer;
    }
    .icons > div, .icon5 {
        display: none;
    }
    main {
        padding: 0px 15px 80px 15px;
    }

    /* 너브 */
    .categoly {
        max-width: 960px;
        width: 100%;
        background-color: #fff;
        padding-left: 40px;
        display: none;
    }
    .categoly.on{
        display: block;
    }
    .categoly [type=checkbox]:not(:checked) ~ div > label,
    .categoly [type=checkbox]:not(:checked) ~ ul > li > a {
        height: 37px;
        padding-top: 15px;
        padding-bottom: 15px;
        opacity: inherit;
        color: #000;
        line-height: 0;
        transition: none;
        display: flex;
        align-items: center;
    }
    .categoly [type=checkbox]:not(:checked) ~ div > label:hover{
        font-weight: bold;
        color: #7F0019;
    }
    .categoly > label:nth-child(1) {
        display: none;
    }
    .categoly div > label {
        padding-left: 26px;
        border-bottom: none;
    }
    .categoly div > label:hover {
        border-bottom: none;
    }
    .categoly label, .categoly a {
        padding: 0;
    }
    .snb a {
        padding-left: 52px;
        height: 37px;
        display: flex;
        align-items: center;
    }
    .categoly [type=checkbox]:checked ~ div label,
    .categoly [type=checkbox]:checked ~ ul > li > a {
        transition: none;
    }
    .categoly [type=checkbox]:checked ~ div label,
    .categoly [type=checkbox]:checked ~ ul > li > a:hover{
        color: #7F0019;
        font-weight: bold;
    }
    .snb {
        color: #000;
        display: none;
    }
    .snb.on{
        display: flex;
    }
    .snb > li:hover {
        color: #000;
    }
    .new-label{
        padding: 10px 10px;
    }
    /* 베스트 아이템 */
    .clothesbest img{
        height: 140px;
        width: auto;
    }
}