@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid red;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}

main{
    margin-bottom: 100px;
    color: #3e2100;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
}
ul{
    list-style: none;
}
h1{
    margin-bottom: 40px;
}
h2{
    margin-bottom: 30px;
}

/* 해더 */
header{
    padding: 20px 20px;
    max-width: 1920px;
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 50;
    background-color: #fff;
}
header > .inner{
    max-width: 1920px;
    width: 95%;
    height: 85px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header > .inner .menu{
    display: inherit;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
header > .inner .menu > a{
    display: inherit;
    flex-direction: column;
    align-items: center;
}
header > .inner .menu > a:nth-child(3){
    color: #fff;
    padding: 13px 20px;
    background-color: #3e2100;
    border-radius: 10px;
}
header > .inner .menu > a span{
    font-size: 15px;
}
header > .inner .menu > a p{
    font-size: 13px;
}

/* 메인 */
article{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
}
.profile{
    height: 422px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.profile img{
    height: 300px;
}
.profile .text{
    display: inherit;
    flex-direction: column;
}
.profile .name{
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
}
.education > ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.education > ul li{
    display: inherit;
    flex-direction: row;
    gap: 20px;
}
.date{
    width: 131px;
    color: #979797;
}
.aboutme section{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.aboutme .skills{
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.ceritificate,
.skill{
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #F3FAFA;
}
.ceritificate > ul,
.skill > ul{
    display: inherit;
    flex-direction: row;
    gap: 15px;
}
.skill > ul img{
    width: 50px;
    object-fit: cover;
}
/* 프로젝트 */
.project{
    display: flex;
    flex-direction: column;
}
.project section{
    display: inherit;
    flex-direction: column;
    gap: 80px;
}
.project section > h2{
    margin-bottom: 20px;
}
.project section > div{
    display: inherit;
    flex-direction: column;
}
.project section > div img{
    height: 490px;
    object-fit: cover;
}
.project section > div ul{
    display: inherit;
    flex-direction: column;
    gap: 20px;
}
.project section > div ul li{
    display: inherit;
    flex-direction: column;
    gap: 5px;
}
.project section > div ul li:nth-last-child(1){
    margin-top: 20px;
    width: 186px;
    padding: 10px;
    display: inherit;
    align-items: center;
    background-color: #d3295f;
    border-radius: 39px;
}
.project section > div ul li:nth-last-child(1) p{
    font-weight: 500;
    color: #fff;
}
.muji > div, .vjw > div{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
/* 후터 */
footer{
    height: 100px;
    background-color: #4e7679;
    display: flex;
    align-items: center;
}
footer > .inner{
    max-width: 960px;
    width: 100%;
    display: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
footer > .inner > p{
    color: #fff;
    font-weight: 500;
}
footer > .inner > div{
    display: inherit;
    flex-direction: row;
    gap: 10px;
}
footer > .inner > div img{
    width: 20px;
}
footer > .inner > div p{
    color: #fff;
    font-weight: 500;
}
@media screen and (max-width: 960px) {
    .profile{
        flex-direction: column;
    }
    article{
        max-width: 600px;
        width: 100%;
    }
    .aboutme .skills{
        max-width: 600px;
        width: 100%;
        flex-direction: column;
    }
    .muji > div, .vjw > div{
        flex-direction: column-reverse;
        gap: 50px;
    }
    .project section > div ul{
        align-items: center;
    }
}